.labelimage {
  z-index: 1;
  width: 350px;
  padding: 10px;
  position: relative;
  top: 0;
  left: 0;
  /* display: inline-block;
  padding: 10px; */
  /* float: right; */
}

.dataimage {
  z-index: 2;
  width: 170px;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-80%);
  /* display: inline-block;
  padding: 10px; */
  /* float: right; */
}

.overlaptext {
  color: white;
  z-index: 2;
  position: absolute;
  width: 170px;
  top: 130px;
  /* left: 125px; */
  left: 50%;
    text-align: center;
  transform: translate(-80%);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
}

.overlaptext2 {
  color: white;
  z-index: 2;
  position: absolute;
  top: 175px;
  position: absolute;
  width: 185px;
  text-align: center;
  left: 50%;
  transform: translate(-80%);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}

.headerData {
  margin: auto;
  width: 60%;
  height: inherit;
  padding-bottom: 30px;
  overflow: auto;
}

.leftheader {
  width: 50%;
  float: left;
  position: relative;
}

.rightheader {
  width: 50%;
  float: right;
}

/* .centerHeader{
  width:400px;
  margin: auto;
} */
/* .labels{
  width: 150px;
  float: right;
  /* margin-top: -10px; */
}

*/ .description {
  font-size: 16px;
}

.datatype {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  /* text-transform: uppercase; */
  color: #0F5A89;
}
