table {
  font-family: Lato;
  border-collapse: collapse;
  width: 700px;
  margin: auto;

  padding-top: 10px;
}

th {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #2B5F6E; */
  color: white;
}

a:link{
  color:#132D2E;
}

a:hover{
  color:#FFAE00;
}
a:visited:hover{
  color:#D99400;
}

a:visited{
  color:#45394C;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px
}
